@using PierreTracker.Models;

<h3>Here all all of the orders for @Model["vendor"].VendorName</h3>
<p>Vendor description: @Model["vendor"].Description</p>
<ol>
	@foreach (Order order in @Model["orders"])
	{
		<li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'></a><p>@order.Product, @order.ProductDescription, $@order.Price, date:@order.Date</p></li>
	}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to the vendor list</a></p>
<p><a href='/'>Return to the home page</a></p>